body{
    background-color: darkgray;
}
h1{
    text-align: center;
    margin-top: 100px;
    font-size: 100px;
    font-weight: 600;
    color: transparent;
    background-image: url(https://media4.giphy.com/media/7AtHoQ9XWbpwLRxs0t/giphy.gif?cid=ecf05e47lgblxzt5ck0k95i0qwbx65iqiduflvdrb7t64vjd&rid=giphy.gif&ct=g);
    background-position: center;
    -webkit-background-clip: text;
}
li,h2{
    text-align: center;
    margin-top: 30px;
    font-size: 30px;
}
p{
    text-align: center;
    margin-top: 30px;
    font-size: 30px;
}
